@media(max-width: 1280px) {
    
    .cabecalho{
        padding: 30px;
    }
    
    .home {
       flex-direction: column;
       align-items: center;
       margin: 50px 0;
       gap: 30px;

    }

    .home .iformacoes{
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    .projetos .content-projetos{
        padding: 0 30px;
    }

}

@media(max-width: 425px) {
    .home .iformacoes h1{
        font-size: 30px;
    }

    .home .iformacoes p {
        font-size: 16px;
    }

    .home .content-foto img{
        max-width: 340px;
    }

    .projetos {
        padding: 30px;
    }
}

@media screen and (max-width: 1280px) {
    .home .iformacoes h1{
      font-size: 17px;
    }
    .home .iformacoes p{
      font-size: 13px;
    }
  
    .home .content-foto .foto{
      width: 250px;
      height: 250px;
    }
  
  }

  
@media (max-width: 768px) {
    .wrapper{
        padding: 0px 0px;
    }

    .inner {
      --w: 160px;
      --h: 120px;
    }
  
    .card {
      width: 172px;
      height: 249px;
    }
    
    button {
      display: none;
    }


  }
  
  @media (max-width: 480px) {
    .inner {
      --w: 180px;
      --h: 100px;
    }
  
    .card {
      width: 172px;
      height: 250px;
    }
  
    .projetos .titulo {
      font-size: 1.8rem;
    }
  
    button {
      display: none;
    }
  
    .prev,
    .next {
      bottom: 5px;
    }
  }

